@page
@model DB_Test.Pages.StartAdminModel
@{
    Layout = "LayoutAdmin";
}

<div class="text-center">
    <h1 class="display-4">Курсовой проект на тему:</h1>
    <h2>Учет результатов тестирования оценки знаний студентов по различным дисциплинам</h2>
    <h3>Понель администратора</h3>
</div>