@page
@model DB_Test.Pages.StartPagecshtmlModel
@{
     ViewData["title"] = "Стартовая страница";
    
}
<div class="text-center">
    <h1 class="display-4">Курсовой проект на тему:</h1>
    <h2>Учет результатов тестирования оценки знаний студентов по различным дисциплинам</h2>
</div>
