@page
@model DB_Test.Pages.StudentsModel
@{
    ViewData["Title"] = "Студенты";
}
<div class="container">
    @if(Model.Groups.Count == 0)
    {
        <div class="d-flex d-flex align-items-end" style="justify-content: space-between;">
            <h3>Список студентов</h3>
            <form action="\Groups" method="get" target="_blank">
                    <button class="btn btn-success btn-lg" type="submit">Перейти к созданию групп</button>
            </form>
        </div>
        <div class="m-2" style="text-align: center">Для создания студентов необходимо создать "Группы"</div>
    }
    else
    {
        <div class="d-flex d-flex align-items-end" style="justify-content: space-between;">
             <h3>Список студентов</h3>
             <div>
                <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modalWindow">Добавить студента</button>
            </div>
        </div>
         <form method="PostChange"> 
            <select asp-items="Model.Groups" name="GroupId" onchange="this.form.submit()"></select>
        </form>
        foreach(var students in Model.Students)
        {
            <div class="d-flex align-items-center p-3 my-3 text-black-100 board rounded box-shadow" style="justify-content: space-between;">
                <label>@students.StudentName</label>
                <div class="d-flex">
                    <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#modalWindow" data-bs-whatever="@students.Id">Редактировать</button>
                    <form method="post" asp-action="DeleteStudent" asp-controller="Students"> 
                        <input name="StudentId" value="@students.Id" type="hidden">
                        <button class="btn btn-danger mx-1">Удалить</button>
                    </form>
                </div>
            </div>
        }
    }
</div>

<!-- Modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" aria-labelledby="modalWindowLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalWindowLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="AddForm">
          <form method="post" asp-controller="Students" asp-action="AddStudent" > 
              <div class="modal-body">
                    <label for="recipient-name" class="col-form-label">Введите ФИО студента:</label>
                    <input name="StudentName" class="form-control" id="recipient-name">
                    <label for="GroupId" class="col-form-label">Выберите группу:</label>
                    <select asp-items="Model.Groups" name="GroupId"></select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
           </form>
       </div>
       <div id="UpdateForm"> 
           <form method="post" asp-controller="Students" asp-action="EditStudent"> 
              <div class="modal-body">
                    <input name="Id" type="hidden" id="updateId">
                    <label for="recipient-name" class="col-form-label">Введите ФИО студента:</label>
                    <input name="StudentName" class="form-control" id="recipient-name">
                    <label for="GroupId" class="col-form-label">Выберите группу:</label>
                    <select asp-items="Model.Groups" name="GroupId"></select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
           </form>
       </div>
    </div>
  </div>
</div>

<script>
    var exampleModal = document.getElementById('modalWindow');
    exampleModal.addEventListener('show.bs.modal', function (event) 
    {
      var button = event.relatedTarget;
      var modalTitle = exampleModal.querySelector('.modal-title');
      var recipient = button.getAttribute('data-bs-whatever');
      if(recipient)
      {
        modalTitle.textContent = "Редактирование студентов";
        var tempUpdate = document.getElementById("UpdateForm");
        tempUpdate.style="display: block;";
        var tempAdd = document.getElementById("AddForm");
        tempAdd.style="display: none;";
        var tempId = document.getElementById("updateId");
        tempId.value = recipient;
      }
      else
      {
        modalTitle.textContent = "Создание студентов";
        var tempUpdate = document.getElementById("UpdateForm");
        tempUpdate.style= "display: none;";
        var tempAdd = document.getElementById("AddForm");
        tempAdd.style = "display: block;";
      }
    })
</script>
